html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; }

ul, li {
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: inherit;
  text-decoration: none;
  text-shadow: none;
  text-indent: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  list-style-type: none; }
  ul:hover, ul:active, ul:visited, ul:focus, li:hover, li:active, li:visited, li:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-box: none; }

.display-none {
  display: none !important;
  height: 0px; }

.wrapper-general {
  width: 100%;
  background-color: #f5f5f5; }

.wrapper-grid-general {
  position: relative; }

.grid-config {
  height: 100% !important; }

.widget-filter {
  padding-bottom: 24px; }

.block {
  width: 100%; }
  .block.check .label-form-x {
    width: 100%;
    margin-left: 6px;
    text-align: left; }
  .block .form-group-y-input, .block .form-group-y-dropdown, .block .form-group-y-combobox, .block .form-group-y-switch, .block .form-group-y-button, .block .form-group-y-calendar, .block .form-group-y-radio, .block .form-group-y-checkbox, .block .form-group-x-input, .block .form-group-x-dropdown, .block .form-group-x-combobox, .block .form-group-x-switch, .block .form-group-x-button, .block .form-group-x-calendar, .block .form-group-x-radio, .block .form-group-x-checkbox {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

.radio {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 6px; }
  .radio:last-of-type {
    margin-bottom: 0px; }
  .radio .label-form-x {
    height: 18px;
    margin-left: 6px;
    padding-top: 3px !important;
    text-align: left; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.flex-row {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.flex-popover {
  padding: 16px; }

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.section-title {
  padding-bottom: 14px;
  margin-bottom: 0px; }

.jqx-button-nubox > span {
  margin-right: 4px; }

.form-group-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0; }
  .form-group-x:last-of-type {
    margin-right: 0; }
  .form-group-x:hover, .form-group-x:active, .form-group-x:focus {
    outline: none; }
  .form-group-x input {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .form-group-x.mini {
    margin-right: 8px; }
    .form-group-x.mini:last-of-type {
      margin-right: 0; }
  .form-group-x.maxi {
    margin-right: 20px; }
    .form-group-x.maxi:last-of-type {
      margin-right: 0; }
  .form-group-x.maxi-reverse {
    margin-left: 20px; }
  .form-group-x.vertical {
    margin-right: 0px;
    margin-bottom: 24px; }
    .form-group-x.vertical:last-of-type {
      margin-bottom: 0px; }
  .form-group-x.check .label-form-x {
    width: 100%;
    margin-left: 6px;
    text-align: left; }

.form-group-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin-right: 20px;
  outline: none; }
  .form-group-y:hover, .form-group-y:active, .form-group-y:focus {
    outline: none; }
  .form-group-y:last-of-type {
    margin-right: 0; }
  .form-group-y input {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .form-group-y.mini {
    margin-right: 8px; }
    .form-group-y.mini:last-of-type {
      margin-right: 0; }
  .form-group-y.vertical {
    margin-right: 0px;
    margin-bottom: 24px; }
    .form-group-y.vertical:last-of-type {
      margin-bottom: 0px; }
  .form-group-y.button-y {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.label-form-x {
  display: inline-block;
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-right: 6px;
  margin-left: 0;
  color: #656565;
  text-align: left;
  text-transform: initial; }

.label-form-y {
  display: block;
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #656565;
  margin-bottom: 6px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  text-transform: uppercase; }

.form-group-y-input, .form-group-y-dropdown, .form-group-y-combobox, .form-group-y-switch, .form-group-y-button, .form-group-y-calendar, .form-group-y-radio, .form-group-y-checkbox {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.form-group-x-input, .form-group-x-dropdown, .form-group-x-combobox, .form-group-x-switch, .form-group-x-button, .form-group-x-calendar, .form-group-x-radio {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.form-filter-xy {
  height: 64px; }
  .form-filter-xy .form-group-x .label-form-x {
    padding-top: 10px; }
  .form-filter-xy .form-group-x .form-group-x-checkbox {
    padding-top: 10px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .form-filter-xy .form-group-y-combobox {
    height: 32px !important; }

.form-containter-sides {
  width: 100%;
  height: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.side {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative; }

.side-a {
  margin-right: 20px; }

.side-b {
  margin-left: 20px;
  margin-right: 20px; }

.side-c {
  margin-left: 20px; }

.subt-form {
  background-color: #e2eff7;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 6px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
  color: #336699;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600; }

/*div[id^=dropDownButtonPopup] {
  transition: opacity 200ms ease;
}*/
.grid-space-top {
  display: block;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding-top: 12px !important;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% + 2px); }

.buttons-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.groupbuttons-bottom {
  padding-top: 24px; }
  .groupbuttons-bottom > button {
    margin-right: 5px; }
    .groupbuttons-bottom > button:last-of-type {
      margin-right: 0px; }

.groupbuttons-top > button {
  margin-right: 5px; }
  .groupbuttons-top > button:last-of-type {
    margin-right: 0px; }

.jqx-window-content-nubox {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.modal-header {
  position: absolute;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  height: auto;
  top: 0px;
  left: 0px;
  padding: 16px 16px 0px 16px; }

.modal-body {
  padding-right: 16px;
  padding-left: 16px; }

.modal-footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 16px 16px 16px; }

.modal-set {
  position: relative;
  width: 100%;
  height: calc(100% - 38px); }

.modal-config {
  margin: auto;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.modal-height-lg {
  height: 630px !important;
  max-height: 630px !important; }

.modal-height-md {
  height: 630px !important;
  max-height: 630px !important; }

.modal-height-sm {
  height: 400px !important;
  max-height: 400px !important; }

.modal-width-lg {
  width: 1300px !important;
  max-width: 1300px !important; }

.modal-width-md {
  width: 960px !important;
  max-width: 960px !important; }

.modal-width-md_ {
  width: 900px !important;
  max-width: 900px !important; }

.modal-width-sm {
  width: 600px !important;
  max-width: 600px !important; }

.modal-width-xs {
  width: 480px !important;
  max-width: 480px !important; }

.modal-sub {
  position: relative;
  top: -28px; }
  .modal-sub > .nubox-font {
    font-size: 18px;
    font-family: "Nubox" !important;
    display: inline-block;
    margin-right: 8px;
    margin-top: -4px;
    float: left; }
  .modal-sub > p {
    line-height: 18px;
    display: block;
    padding-left: 0px;
    color: #989898;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    text-align: lowercase; }
    .modal-sub > p .nubox-font {
      font-family: "Nubox" !important;
      font-size: 13px;
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px; }

.close-modal {
  position: absolute;
  display: inline-block;
  right: 16px;
  top: 16px;
  font-size: 18px;
  cursor: pointer;
  color: #336699;
  z-index: 800;
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .close-modal:hover {
    color: #ea520d; }

.label-total-error {
  height: 20px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0 auto;
  margin-top: 5px;
  width: 100px !important;
  border-radius: 4px;
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ea520d;
  background-color: #ea520d;
  cursor: default; }
  .label-total-error:hover {
    background-color: #ea520d; }
  .label-total-error > span {
    font-family: "Nubox" !important;
    font-size: 12px;
    margin-left: 3px; }

.data-list-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  position: relative;
  padding-left: 18px;
  padding-right: 18px; }
  .data-list-x .data-list-li-x {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
    margin-bottom: 10px; }
    .data-list-x .data-list-li-x:last-of-type {
      margin-bottom: 0px; }
    .data-list-x .data-list-li-x .data-list-label-x {
      display: inline-block;
      text-align: left;
      text-transform: uppercase;
      margin-right: 12px;
      width: 100%;
      font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
      font-size: 11px;
      font-weight: 600;
      color: #656565; }
    .data-list-x .data-list-li-x .data-list-span-x {
      display: block;
      text-align: left;
      font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
      font-size: 11px;
      font-weight: 400;
      color: #000000; }
      .data-list-x .data-list-li-x .data-list-span-x.numerico {
        text-align: right; }

.jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-up-nubox, .jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-down-nubox, .jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-left-nubox, .jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-right-nubox {
  background-image: none;
  margin-top: -1px; }

.jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-up-nubox:before {
  font-family: 'Nubox' !important;
  font-size: 12px;
  font-weight: initial;
  content: "\e948";
  color: #919191; }

.jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-down-nubox:before {
  font-family: 'Nubox' !important;
  font-size: 12px;
  font-weight: initial;
  content: "\e90a";
  color: #919191; }

.jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-left-nubox:before {
  font-family: 'Nubox' !important;
  font-size: 12px;
  font-weight: initial;
  content: "\e94c";
  color: #919191; }

.jqx-scrollbar-button-state-normal-nubox .jqx-icon-arrow-right-nubox:before {
  font-family: 'Nubox' !important;
  font-size: 12px;
  font-weight: initial;
  content: "\e90b";
  color: #919191; }

.jqx-scrollbar-button-state-hover-nubox {
  border: 0;
  background: none;
  margin-left: 1px;
  margin-top: 1px; }

.jqx-combobox-nubox.base-noline .jqx-icon-arrow-down-nubox:after {
  font-size: 15px; }

.jqx-combobox-nubox.base-noline .jqx-combobox-input-nubox::-webkit-input-placeholder {
  text-align: right; }

.jqx-combobox-nubox.base-noline .jqx-combobox-input-nubox:-moz-placeholder {
  /* Firefox 18- */
  text-align: right; }

.jqx-combobox-nubox.base-noline .jqx-combobox-input-nubox::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right; }

.jqx-combobox-nubox.base-noline .jqx-combobox-input-nubox:-ms-input-placeholder {
  text-align: right; }

.suj-contable-disabled {
  pointer-events: none; }
  .suj-contable-disabled > div > #dropdownlistWrappersuj-contable-dropdown #dropdownlistArrowsuj-contable-dropdown .jqx-icon-arrow-down-nubox:after {
    color: #929292;
    opacity: 0.5; }

.radiobutton-selection .jqx-checkbox-nubox .jqx-fill-state-normal:before {
  content: '\e928'; }

.radiobutton-selection .jqx-checkbox-nubox .jqx-fill-state-normal .jqx-checkbox-check-checked:before {
  content: '\e927'; }

.radiobutton-selection .jqx-checkbox-nubox .jqx-checkbox-default:before {
  border-radius: 50%; }

.radiobutton-selection .jqx-grid-column-header:first-child .jqx-checkbox-default-nubox {
  display: none; }
/*# sourceMappingURL=nbx-general.css.map */