.jqx-calendar.jqx-calendar-nubox.jqx-widget.jqx-widget-nubox.jqx-widget-content.jqx-widget-content-nubox.jqx-rc-all.jqx-rc-all-nubox{
    z-index: 9999999!important;
    display: block;
    position: fixed;
    top: 100px;
    left: 680px;
}

.jqx-widget-content.jqx-widget-content-nubox.jqx-calendar-month-container.jqx-calendar-month-container-nubox{
//
}

.jqx-widget-content.jqx-widget-content-nubox.jqx-input.jqx-input-nubox.jqx-widget.jqx-widget-nubox.jqx-rc-all.jqx-rc-all-nubox{
    height: 28px!important;
}